---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/liggitt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGFycmVubGVld2ViZXI6cG90czRnaXRodWI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1517719069'
      Etag:
      - W/"a1f5b84c75e02f3655b09fb4b02441e8"
      Last-Modified:
      - Sat, 27 Jan 2018 16:33:26 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"liggitt","id":980082,"avatar_url":"https://avatars0.githubusercontent.com/u/980082?v=4","gravatar_id":"","url":"https://api.github.com/users/liggitt","html_url":"https://github.com/liggitt","followers_url":"https://api.github.com/users/liggitt/followers","following_url":"https://api.github.com/users/liggitt/following{/other_user}","gists_url":"https://api.github.com/users/liggitt/gists{/gist_id}","starred_url":"https://api.github.com/users/liggitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/liggitt/subscriptions","organizations_url":"https://api.github.com/users/liggitt/orgs","repos_url":"https://api.github.com/users/liggitt/repos","events_url":"https://api.github.com/users/liggitt/events{/privacy}","received_events_url":"https://api.github.com/users/liggitt/received_events","type":"User","site_admin":false,"name":"Jordan
        Liggitt","company":"Red Hat","blog":"","location":"Raleigh, NC","email":"jordan@liggitt.net","hireable":null,"bio":null,"public_repos":105,"public_gists":25,"followers":125,"following":1,"created_at":"2011-08-15T02:08:01Z","updated_at":"2018-01-27T16:33:26Z"}'
  recorded_at: Sun, 04 Feb 2018 03:56:31 GMT
- request:
    method: get
    uri: https://api.github.com/users/liggitt/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGFycmVubGVld2ViZXI6cG90czRnaXRodWI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1517719069'
      Etag:
      - W/"b4699d96913e272d0a87e059478cfaea"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/980082/repos?page=2>; rel="next", <https://api.github.com/user/980082/repos?page=4>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":114039372,"name":"aos-cd-jobs","full_name":"liggitt/aos-cd-jobs","owner":{"login":"liggitt","id":980082,"avatar_url":"https://avatars0.githubusercontent.com/u/980082?v=4","gravatar_id":"","url":"https://api.github.com/users/liggitt","html_url":"https://github.com/liggitt","followers_url":"https://api.github.com/users/liggitt/followers","following_url":"https://api.github.com/users/liggitt/following{/other_user}","gists_url":"https://api.github.com/users/liggitt/gists{/gist_id}","starred_url":"https://api.github.com/users/liggitt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/liggitt/subscriptions","organizations_url":"https://api.github.com/users/liggitt/orgs","repos_url":"https://api.github.com/users/liggitt/repos","events_url":"https://api.github.com/users/liggitt/events{/privacy}","received_events_url":"https://api.github.com/users/liggitt/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/liggitt/aos-cd-jobs","description":null,"fork":true,"url":"https://api.github.com/repos/liggitt/aos-cd-jobs","forks_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/forks","keys_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/keys{/key_id}","collaborators_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/teams","hooks_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/hooks","issue_events_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/issues/events{/number}","events_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/events","assignees_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/assignees{/user}","branches_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/branches{/branch}","tags_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/tags","blobs_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/git/refs{/sha}","trees_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/git/trees{/sha}","statuses_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/statuses/{sha}","languages_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/languages","stargazers_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/stargazers","contributors_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/contributors","subscribers_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/subscribers","subscription_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/subscription","commits_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/commits{/sha}","git_commits_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/git/commits{/sha}","comments_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/comments{/number}","issue_comment_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/issues/comments{/number}","contents_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/contents/{+path}","compare_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/compare/{base}...{head}","merges_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/merges","archive_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/downloads","issues_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/issues{/number}","pulls_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/pulls{/number}","milestones_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/milestones{/number}","notifications_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/labels{/name}","releases_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/releases{/id}","deployments_url":"https://api.github.com/repos/liggitt/aos-cd-jobs/deployments","created_at":"2017-12-12T21:08:41Z","updated_at":"2017-12-12T21:08:44Z","pushed_at":"2017-12-12T21:56:55Z","git_url":"git://github.com/liggitt/aos-cd-jobs.git","ssh_url":"git@github.com:liggitt/aos-cd-jobs.git","clone_url":"https://github.com/liggitt/aos-cd-jobs.git","svn_url":"https://github.com/liggitt/aos-cd-jobs","homepage":null,"size":8000,"stargazers_count":0,"watchers_count":0,"language":"Shell","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":112521108,"name":"api","full_name":"liggitt/api","owner":{"login":"liggitt","id":980082,"avatar_url":"https://avatars0.githubusercontent.com/u/980082?v=4","gravatar_id":"","url":"https://api.github.com/users/liggitt","html_url":"https://github.com/liggitt","followers_url":"https://api.github.com/users/liggitt/followers","following_url":"https://api.github.com/users/liggitt/following{/other_user}","gists_url":"https://api.github.com/users/liggitt/gists{/gist_id}","starred_url":"https[...]
- request:
    method: get
    uri: https://api.github.com/user/980082/repos?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZGFycmVubGVld2ViZXI6cG90czRnaXRodWI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
     [...]
[...]
