---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '60'
      X-Ratelimit-Reset:
      - '1517694100'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":60,"remaining":60,"reset":1517694100},"search":{"limit":10,"remaining":10,"reset":1517690560},"graphql":{"limit":0,"remaining":0,"reset":1517694100}},"rate":{"limit":60,"remaining":60,"reset":1517694100}}'
  recorded_at: Sat, 03 Feb 2018 20:38:42 GMT
recorded_with: VCR 4.0.0
